<!--
  ~ Copyright (C) 2011-2017 Interfaculty Department of Geoinformatics, University of
  ~ Salzburg (Z_GIS) & Institute of Geological and Nuclear Sciences Limited (GNS Science)
  ~ in the SMART Aquifer Characterisation (SAC) programme funded by the New Zealand
  ~ Ministry of Business, Innovation and Employment (MBIE)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level %logger{15} - %message%n%ex{full}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="services" level="INFO" />
  <logger name="utils" level="INFO" />
  <logger name="models" level="INFO" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <!-- Keep in mind that this is intended to be used just in development environments  -->
  <logger name="org.jdbcdslog.ConnectionLogger" level="INFO"  />
  <logger name="org.jdbcdslog.StatementLogger"  level="INFO" />
  <logger name="org.jdbcdslog.ResultSetLogger"  level="INFO"  />

  <root level="INFO">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
